<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <!--<ion-button (click)="onOpenMenu()">-->
        <!--<ion-icon name="menu"></ion-icon>-->
      <!--</ion-button>-->
    </ion-buttons>
    <ion-title>Discover places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>All places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable places</ion-segment-button>
  </ion-segment>
  <ion-grid *ngIf="!relevantPlaces || relevantPlaces.length <= 0">
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" text-center>
        <p>There are no places right now, please come back later.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="relevantPlaces.length > 0">
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ relevantPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ relevantPlaces[0].price | currency}} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="relevantPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ relevantPlaces[0].description }}</p>
          </ion-card-content>
          <div>
            <ion-button
              fill="clear"
              color="primary"
              [routerLink]="['/', 'places', 'tabs', 'discover', relevantPlaces[0].id]"
            >
              More
            </ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" sizeSm="8" offsetSm="2" text-center>
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="70px">
          <ion-item *virtualItem="let place" [routerLink]="['/', 'places', 'tabs', 'discover', place.id]" detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
