<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="6" offsetMd="3" *ngIf="!loadedBookings || loadedBookings.length <= 0">
        <p>No Bookings found!</p>
      </ion-col>
      <ion-col sizeMd="6" offsetMd="3" *ngIf="loadedBookings && loadedBookings.length > 0">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
            <ion-item>
              <ion-label>
                <h2>{{ booking.placeTitle }}</h2>
                <p>Guests: {{ booking.guestNumber }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="onCancelBooking(booking.id, slidingBooking)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
