<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ selectedPlace.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">First Name</ion-label>
            <ion-input type="text" name="first-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Last Name</ion-label>
            <ion-input type="text" name="last-name" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Number of Guests</ion-label>
            <ion-select name="number-of-guests" [ngModel]="'2'">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="2">2</ion-select-option>
              <ion-select-option value="3">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3" offsetSm="3">
          <ion-item>
            <ion-label position="floating">From</ion-label>
            <ion-datetime
                displayFormat="DD MMM YYYY"
                pickerFormat="DD MMM YYYY"
                [min]="selectedPlace.availableFrom.toISOString()"
                [max]="selectedPlace.availableTo.toISOString()"
                [ngModel]="startDate"
                name="date-from"
                required
                #startDateCtrl="ngModel"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="3">
          <ion-item>
            <ion-label position="floating">To</ion-label>
            <ion-datetime
                displayFormat="DD MMM YYYY"
                pickerFormat="DD MMM YYYY"
                [min]="startDateCtrl.value"
                [max]="selectedPlace.availableTo.toISOString()"
                [ngModel]="endDate"
                name="date-to"
                required
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button color="primary"
                      type="submit"
                      expand="block"
                      [disabled]="!f.valid || !datesValid()">
            Book!
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
