.offer-details {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  .margin-left {
    margin-left: .3rem;
  }
  .text-block {
    display: flex;
    //align-items: center;
    font-size: .8rem;
  }
}
