<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imageUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ offer.title }}</h2>
    <div class="offer-details">
      <div class="text-block">
        <ion-icon name="calendar" color="primary"></ion-icon>
        <ion-text color="primary" class="margin-left">{{ offer.availableFrom | date }}</ion-text>
      </div>
      <span class="margin-left">to</span>
      <div class="text-block">
        <ion-icon name="calendar" class="margin-left" color="primary"></ion-icon>
        <ion-text color="primary" class="margin-left">{{ offer.availableTo | date }}</ion-text>
      </div>
    </div>
  </ion-label>
</ion-item>
