<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" no-padding>
        <ion-img [src]="place.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3" text-center="">
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isBookable">
      <ion-col sizeSm="6" offsetSm="3" text-center>
        <ion-button color="primary" margin (click)="onBookPlace()">Book</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
